[Unit]
Description=Beta Light Board
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi/BetaLightBoard-pi
ExecStart=/home/pi/BetaLightBoard-pi/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 80 --workers 1

Restart=always
RestartSec=5
Environment=LED_SIMULATE=0

[Install]
WantedBy=multi-user.target
